<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seu.scrm.Mapper.HotProductStatsMapper">
  <resultMap id="BaseResultMap" type="com.seu.scrm.Entity.HotProductStats">
    <id column="period" jdbcType="INTEGER" property="period" />
    <id column="product" jdbcType="VARCHAR" property="product" />
    <result column="sales_count" jdbcType="INTEGER" property="salesCount" />
    <result column="sales_amount" jdbcType="INTEGER" property="salesAmount" />
    <result column="count_time" jdbcType="TIMESTAMP" property="countTime" />
  </resultMap>
  <sql id="Base_Column_List">
    period, product, sales_count, sales_amount, count_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.seu.scrm.Entity.HotProductStatsKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hot_product_stats
    where period = #{period,jdbcType=INTEGER}
      and product = #{product,jdbcType=VARCHAR}
  </select>

  <select id="selectListByPeriod" resultMap="BaseResultMap">
    select
    product, sales_count, sales_amount
    from hot_product_stats
    where period = ${period}
    order by sales_count desc
    limit ${num}
  </select>


  <delete id="deleteByPrimaryKey" parameterType="com.seu.scrm.Entity.HotProductStatsKey">
    delete from hot_product_stats
    where period = #{period,jdbcType=INTEGER}
      and product = #{product,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.seu.scrm.Entity.HotProductStats">
    insert into hot_product_stats (period, product, sales_count, 
      sales_amount, count_time)
    values (#{period,jdbcType=INTEGER}, #{product,jdbcType=VARCHAR}, #{salesCount,jdbcType=INTEGER}, 
      #{salesAmount,jdbcType=INTEGER}, #{countTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.seu.scrm.Entity.HotProductStats">
    insert into hot_product_stats
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="period != null">
        period,
      </if>
      <if test="product != null">
        product,
      </if>
      <if test="salesCount != null">
        sales_count,
      </if>
      <if test="salesAmount != null">
        sales_amount,
      </if>
      <if test="countTime != null">
        count_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="period != null">
        #{period,jdbcType=INTEGER},
      </if>
      <if test="product != null">
        #{product,jdbcType=VARCHAR},
      </if>
      <if test="salesCount != null">
        #{salesCount,jdbcType=INTEGER},
      </if>
      <if test="salesAmount != null">
        #{salesAmount,jdbcType=INTEGER},
      </if>
      <if test="countTime != null">
        #{countTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.seu.scrm.Entity.HotProductStats">
    update hot_product_stats
    <set>
      <if test="salesCount != null">
        sales_count = #{salesCount,jdbcType=INTEGER},
      </if>
      <if test="salesAmount != null">
        sales_amount = #{salesAmount,jdbcType=INTEGER},
      </if>
      <if test="countTime != null">
        count_time = #{countTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where period = #{period,jdbcType=INTEGER}
      and product = #{product,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.seu.scrm.Entity.HotProductStats">
    update hot_product_stats
    set sales_count = #{salesCount,jdbcType=INTEGER},
      sales_amount = #{salesAmount,jdbcType=INTEGER},
      count_time = #{countTime,jdbcType=TIMESTAMP}
    where period = #{period,jdbcType=INTEGER}
      and product = #{product,jdbcType=VARCHAR}
  </update>
</mapper>